
div#title{
    background-color:lightblue;
    border: 2px solid black;
    padding: 25px;
    width: 100%;
}

p#titleText{
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: bold;
    width: 100%;
}

.loginpart{
    text-align:center;
    overflow: auto;
    width: 100%;
    margin: 20px 0px 0px 0px;
    padding-top: 10px;
}

div#middle{
    text-align: center;
    
}

div#currentMonth{
   font-family: bold;
   text-align:center;
}

.calendar {
    color:black;
    width:100%;
    border : "1";
    border-width: 3px;
    border:solid yellow;
    font-size:25px;
    border-radius:5px;
}

.calendar td {
    height: 60px;
    width: 60px;
    font-size:25px;
    border-width: 3px;
    border-color: lightgrey;
    background-color:lightblue;
    }
.calendar b{
    text-align: center;
    padding: 5px;
    border-style: solid;
    background-color:lightgreen;
}
.calendar td:hover {
    background-color:blue;
}

div#block{
    width: 100%;
}

#left{
    border: 1px solid black;
    float:left;
    width: 50%;
    height: 70%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 120%;
    text-align:center;
}

#right{
    border: 1px solid black;
    margin-left: 50%;
    width: 50%;
    height: 70%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 120%;
    text-align:center;
}

#end{
    bottom:0;
    border: 1px solid black;
    height: 30%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 120%;
    text-align:center;
}
